<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Neural Style Transfer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/petite-vue" defer></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body id="app">
    <!-- 상단 카테고리 -->
    <header>
        <nav :class="['navbar', isNavbarActivated ? 'activated' : '']" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><h3 style="color: #8C1DF3">Flask for DeepConvNet</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/convnet_info">ConvNet?</a></li>
                    <li class="nav-item"><a class="nav-link" href="/object_detection_get">Object Detection</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="side-page-main-div">
        <h1 align="center" style="color: #8C1DF3">Neural Style Transfer</h1>
        <br>
        <!-- Reference Image 라디오 버튼 선택 -->
        <form align="center" action="/nst_post" method="POST" enctype="multipart/form-data">
            <h2 align="center" style="color: #353535;">Reference Images</h2>
            <table align="center">
                <tr>
                    <td><img class="refer_img" src="./static/images/nst_reference1.jpg"></td>
                    <td><img class="refer_img" src="./static/images/nst_reference2.jpg"></td>
                    <td><img class="refer_img" src="./static/images/nst_reference3.jpg"></td>
                    <td><img class="refer_img" src="./static/images/nst_reference4.jpg"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="refer_img" value="nst_reference1.jpg"></td>
                    <td><input type="radio" name="refer_img" value="nst_reference2.JPG"></td>
                    <td><input type="radio" name="refer_img" value="nst_reference3.jpg"></td>
                    <td><input type="radio" name="refer_img" value="nst_reference4.jpg"></td>
                </tr>
            </table>
            <br>
            <!-- Target Image 사용자 업로드 -->
            <h2 align="center" style="color: #353535;">Target Image</h2>
            <input type="file" name="user_img" id="user_img" value="userImage" @change="previewImage($event, 'view_area')"/>
            <input type="submit" value="확인"/>
            <br><br>
            <div align="center" id='view_area'></div>
        </form>
    </div>
    <br><br><br>
</body>
</html>
