<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask & Petite Vue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/petite-vue" defer></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div>
        <p v-text="testMessage"></p> <!-- testMessage 값 표시 -->
        <button @click="fetchData">Fetch Data from Server</button>
        
        <p v-text="square_value"></p>
        <button @click="squareData">제곱</button>

        <input type="number" v-model="num1" placeholder="첫 번째 숫자">
        <input type="number" v-model="num2" placeholder="두 번째 숫자">
        <p v-text="add_value"></p>
        <button @click="addData">더하기</button>
    </div>
</body>
</html>
